<h1>PLEASE LOG IN</h1>



<%= simple_format @content_for_poem %>  <p> <%= flash[:notice] %></p>
<p><%#= link_to "signup", :action=>"signup"  %></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
